{% extends 'base.html.twig' %}

{% block body %}
    <h1>Workout</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ workout.id }}</td>
            </tr>
            <tr>
                <th>Occurrencedate</th>
                <td>{% if workout.occurrenceDate %}{{ workout.occurrenceDate|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Activity</th>
                <td>{{ workout.activity }}</td>
            </tr>
            <tr>
                <th>Hours</th>
                <td>{{ workout.hours }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('workout_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('workout_edit', { 'id': workout.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
